@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }

.card-1-hover, article .article-read-more a:hover, .pagination a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-2, header.page-header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100%;
  margin: 0; }

/* Container */
.container {
  min-height: calc(100vh - 6.8rem); }
  .container:after {
    content: "";
    display: block;
    height: 6.8rem; }

/* Images */
figure figcaption {
  margin-top: -40px;
  text-align: center; }

figure figcaption h4 {
  font-weight: lighter; }

figure figcaption p {
  margin-top: -20px;
  font-size: 1.2rem; }

img {
  max-width: 100%;
  height: auto; }

/* Header */
header.page-header {
  background-image: url("/img/bg-header.png");
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

header h1.heading-style, header h1.brand, header h1.title {
  text-transform: uppercase;
  text-align: center; }

header h1.brand {
  font-family: "Fjalla One", Helvetica, sans-serif;
  font-size: 6.8rem;
  letter-spacing: 0.6rem; }
  @media (max-width: 768px) {
    header h1.brand {
      font-size: 5.1rem; } }

header h1.title {
  font-family: "Fjalla One", Helvetica, sans-serif;
  font-size: 5.1rem;
  letter-spacing: 1.2rem; }

header p {
  font-size: 2.2rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2.2rem; }
  header p.contact-links {
    margin: 0;
    padding-top: 0.9rem;
    padding-bottom: 2.7rem; }
  header p a {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF; }
    header p a:hover {
      opacity: 1; }
    header p a:hover, header p a:focus, header p a:visited {
      color: #FFFFFF; }
    header p a .fa {
      font-size: 3.4rem;
      padding-right: 1rem; }

/* Navigation */
nav ul {
  text-align: center;
  padding: 0px;
  margin-top: 0; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 1.8rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem; }
    nav ul li a, nav ul li a:hover, nav ul li a:focus {
      color: #FFFFFF; }

/* Articles */
#article-listing, .article-content {
  margin: 4.8rem auto;
  max-width: 768px; }
  @media (max-width: 768px) {
    #article-listing, .article-content {
      margin: 2.4rem; } }

article {
  font-size: 1.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-bottom: #EEEEEE 1px solid; }
  article .article-title {
    font-size: 2.8rem;
    line-height: 3.8rem; }
    article .article-title a {
      color: #212121 !important;
      text-decoration: none;
      transition: all 0.2s ease-in-out; }
      article .article-title a:hover {
        color: #0097A7 !important; }
  article .article-info {
    color: #B6B6B6;
    font-size: 1.4rem;
    margin-top: -1.2rem; }
  article .article-summary {
    margin-top: 1.8rem;
    font-size: 1.8rem;
    color: #212121; }
  article .article-read-more {
    text-align: right; }
    article .article-read-more a {
      font-size: 1.35rem;
      transition: all 0.2s ease-in-out;
      border: 1px solid #BDBDBD;
      border-radius: 0.4rem;
      color: #BDBDBD;
      font-weight: lighter;
      padding: 0.6rem;
      margin: 1.2rem;
      text-decoration: none; }
      article .article-read-more a:hover {
        border-color: #0097A7;
        background-color: #0097A7;
        color: #FFFFFF; }
  article.article-content {
    font-size: 1.8rem;
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 2.8rem;
    color: #212121; }
    article.article-content h1 {
      line-height: 4rem; }
    article.article-content a {
      color: #0097A7 !important;
      transition: all 0.2s ease-in-out; }
      article.article-content a:hover {
        color: #00BCD4 !important; }
  article ul {
    word-wrap: break-word; }

/* Pagination */
.pagination {
  margin-top: 1em; }
  .pagination a {
    font-size: 1.35rem;
    transition: all 0.2s ease-in-out;
    border: 1px solid #BDBDBD;
    border-radius: 0.4rem;
    color: #BDBDBD;
    font-weight: lighter;
    padding: 0.6rem;
    margin: 1.2rem;
    text-decoration: none; }
    .pagination a:hover {
      border-color: #0097A7;
      background-color: #0097A7;
      color: #FFFFFF; }
  .pagination .older-posts {
    float: right; }
  .pagination .newer-posts {
    float: left; }

/* Comments */
#disqus_thread {
  margin: 4.8rem auto;
  max-width: 768px; }
  @media (max-width: 768px) {
    #disqus_thread {
      margin: 2.4rem; } }

/* Footer */
footer {
  background-color: #042630;
  padding: 2rem 1rem 1rem 2rem;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem; }
  footer a {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    text-decoration-line: none; }
    footer a:hover {
      opacity: 1; }
    footer a:hover, footer a:focus, footer a:visited {
      color: #FFFFFF; }

/* macOS like `code` window */
.window {
  display: block;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.75); }

.mac .window-title-bar {
  height: 40px;
  background: linear-gradient(to bottom, #f0f0f0, #e9e9e9);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid #faf9ff;
  box-shadow: 0px -3px 15px -8px rgba(0, 0, 0, 0.75); }

.mac .close {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  position: absolute;
  top: 14px;
  background-color: #ff6052;
  left: 10px; }

.mac .minimize {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  position: absolute;
  top: 14px;
  background-color: #ffbe06;
  left: 32px; }

.mac .zoom {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  position: absolute;
  top: 14px;
  background-color: #16cc37;
  left: 54px; }

/* `pre` and `code` styles for inline and block codes */
code {
  border-radius: 0 0 .5rem .5rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 1rem !important; }

pre {
  margin: 0 !important; }

:not(pre) > code {
  display: inline !important;
  padding: 0.5rem !important;
  background-color: #EEEEEE;
  border-radius: .5rem; }

#mc_embed_signup {
  max-width: 768px !important;
  margin: 0 auto; }

.mc-field-group {
  padding: 0 !important; }
  .mc-field-group input {
    color: black; }
