/* Articles */

#article-listing, .article-content {
  margin: $articleMargin auto;
  max-width: $containerWidth;

  @media (max-width: $containerWidth) {
    & {
      margin: $articleMargin / 2;
    }
  }
}

article {
  font-size: $textSize;
  padding-top: $titleSize / 2;
  padding-bottom: $titleSize / 2;

  border-bottom: $divider-color 1px solid;

  .article-title {
    font-size: $titleSize;
    line-height: 3.8rem;

    a {
      color: $primary-text-color !important;
      text-decoration: none;
    }
  }

  .article-info {
    color: $secondary-text-color;
    font-size: $infoSize;
    margin-top: -2rem;
  }

  .article-summary {
    margin-top: $textSize;
    font-size: $textSize;
    color: $primary-text-color;
  }

  .article-read-more {
    text-align: right;
    @include main-button($tertiary-text-color, $tertiary-text-color, $primary-color-dark, $primary-color-text);
  }

  &.article-content {
    font-size: $textSize;
    font-family: $textFont;
    line-height: $titleSize;
    color: $primary-text-color;

    a {
      color: $primary-color-dark !important;
      transition: $primaryTransition;

      &:hover {
        color: $primary-color !important;
      }
    }
  }
}
