/* Pagination */

.pagination {
  margin-top: 1em;

  @include main-button($tertiary-text-color, $tertiary-text-color, $primary-color-dark, $primary-color-text);
  .older-posts {
    float: right;
  }

  .newer-posts {
    float: left;
  }
}
