{{ partial "header.html" . }}

<section id="article-listing">
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    <article>
        <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <p class="article-info">
            <strong>{{ .Date.Format "02/01/2006" }} &middot; Tiempo de lectura: <strong>{{ .ReadingTime }} min</strong>
        </p>
        <p class="article-summary">{{ .Summary }}</p>
        {{ if .Truncated }}<a href="{{ .Permalink }}"><p class="article-read-more"><a href="{{ .Permalink }}">Seguir leyendo &rarr;</a></p>{{ end }}
    </article>
    {{ end }}

    {{ partial "pagination.html" $paginator }}

</section>

{{ partial "footer.html" . }}
