$containerWidth: 768px;
$footerHeight: 6.8rem;

$fontBaseLine: 62.5%;

$headerMargin: 1.8rem;
$headerNavSize: 1.4rem;
$headerTitleSize: 6.8rem;
$headerTitleLetterSpacing: 0.6rem;
$headerInfoSize: 2.2rem;
$titleSize: 2.8rem;
$infoSize: 1.4rem;
$textSize: 1.8rem;
$socialIconsSize: 3.4rem;

$articleMargin: 4.8rem;
