</div>

<footer>

  {{ partial "newsletter.html" . }}

  <div class="license">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">licencia de Creative Commons Reconocimiento 4.0 Internacional</a>.
    </p>
  </div>

  <div class="author">
    <p>Diseño y publicación de contenidos por {{ .Site.Params.author }}</p>
  </div>

</footer>

{{ partial "scripts.html" . }}

</body>
</html>
