/* Images */

figure figcaption {
  margin-top: -40px;
  text-align: center;
}

figure figcaption h4 {
  font-weight: lighter;
}

figure figcaption p {
  margin-top: -20px;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}
